* {margin: 0 auto;padding: 0;box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
}
.description {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}
.quiz-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.instructions {
    padding-bottom: 1em;
}
.quiz-container button {
    display: flex;
}
.question {
    margin-bottom: 20px;
    text-align: left;
}
.result {
    display: none;
}
#resultMotto {
    padding-top: 10px;
}
#resultBlurb {
    padding: 10px 0;
    line-height: 1.25em;
    text-align: left;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}
.reload-btn {
    text-align: center;
    padding: 10px;
}